﻿@using ProyectoFinalDIW.Models
@model List<UsuarioDTO>
@{
    ViewData["Title"] = "Administración Usuario";
    int i = 1;
    var mensajeBorrado = TempData["mensajeBorrado"];
    var mensajeActualizado = TempData["mensajeActualizado"];
}


<div class="row tablaAdmin">
    <div class="col">
        <div style="margin-bottom: 5px;">
            <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="VistaAdministracionUsuario" role="button">Usuarios</a>
            <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="VistaAdministracionProducto" role="button">Productos</a>
        </div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Editar/Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="5" style="text-align: center">No existe ningún suplemento.</td>
                    </tr>
                }
                @foreach (var usuario in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@usuario.Nombre_usuario</td>
                        <td>@usuario.Email_usuario</td>
                        @if (@usuario.Id_acceso == 1)
                        {
                            <td>Usuario</td>
                        }
                        else
                        {
                            <td>Admin</td>
                        }
                        <td>
                            <a href="@Url.Action("VistaEditarUsuario", "Admin", new { id = usuario.Id_usuario })" style="text-decoration: none">
                                <i class="fa-solid fa-pen-to-square" style="color: green; padding-left: 15px;"></i>
                            </a>
                            <i class="fa-solid fa-trash" style="color: red; margin-left: 35px;" onclick="compruebaEsAdmin(@usuario.Id_usuario, @usuario.Id_acceso)"></i>
                        </td>
                    </tr>
                    i++; // Incrementamos el contador
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function compruebaEsAdmin(id_usuario, id_acceso){
        if (id_acceso != 2) {
            compruebaEliminar(id_usuario);
        } else {
            Swal.fire({
                title: "Error!",
                text: "No puedes borrar un Administrador!",
                icon: "error"
            });
        }
    }

    function compruebaEliminar(id_usuario) {
        Swal.fire({
            title: "¿Estás seguro?",
            text: "No se podrán revertir los cambios!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, eliminar!",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                // Eliminamos
                // Obtén la ruta base de la URL actual (localhost:1234)
                const baseUrl = window.location.origin;

                // Redirige a la nueva URL (/Admin/BorrarUsuario)
                window.location.href = baseUrl + '/Admin/BorrarUsuario/' + id_usuario;
            }
        });
    }
</script>
@if (TempData["error"] != null)
{
    <script>
        Swal.fire({
            title: "Error!",
            text: "Se ha producido un error, vuelve a intentarlo más tarde!",
            icon: "error"
        });
    </script>
}
@if (mensajeBorrado != null && mensajeBorrado.ToString() == "borrado")
{
    <script>
        Swal.fire({
            title: "Éxito!",
            text: "El usuario se ha borrado con éxito!",
            icon: "success"
        });
    </script>
}
else if (mensajeBorrado != null && mensajeBorrado.ToString() == "noBorrado")
{
    <script>
        Swal.fire({
            title: "Error!",
            text: "El usuario no se ha podido eliminar!",
            icon: "error"
        });
    </script>
}

@if (mensajeActualizado != null && mensajeActualizado.ToString() == "true")
{
    <script>
        Swal.fire({
            title: "Éxito!",
            text: "El usuario ha sido actualizado con éxito!",
            icon: "success"
        });
    </script>
}
else if (mensajeActualizado != null && mensajeActualizado.ToString() == "false")
{
    <script>
        Swal.fire({
            title: "Error!",
            text: "El usuario no se ha podido actualizar!",
            icon: "error"
        });
    </script>
}